{% extends 'tiles/main.html' %}
{% load static %}
{% block content %}
    <main>
	<div class="row">
		{% for product in products %}

            {% if product.tiles %}
		<div class="col-lg-4 col-md-6 col-sm-6 col-6">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>

				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>

				<a class="btn btn-outline-success" href="#">View</a>
				<h5 style="display: inline-block; float: right"><strong>{{product.price}}</strong></h5>

			</div>
		</div>
            {% endif %}
		{% endfor %}
	</div>
    </main>
{% endblock content %}